on:
  push:
    branches:
      - master

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    environment:
      name: prod
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: node
          token: ${{ secrets.LI_GITHUB_ACTION_TOKEN }}

  publish-release:
    permissions:
      id-token: write # Required for OIDC
      contents: read
    needs: release-please
    runs-on: ubuntu-latest
    environment:
      name: prod
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: linz/action-typescript@v3

      - name: Publish to Github
        run: npm publish